@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

body {
  @apply mx-auto;
}

/* body .yarl__thumbnails {
  width: 100%;
  height: 30rem;
} */

/* body .yarl__container .yarl__carousel .yarl__slide .yarl__slide_image {
  border-radius: 5px;
  min-width: 100%;
  min-height: 35rem;
} */

/* body .yarl__thumbnails_thumbnail {
  @apply bg-transparent p-0;
}
@media only screen and (max-width: 1000px) {
  body .yarl__thumbnails {
    width: 100%;
  }
} */
/* 
@media only screen and (max-width: 1300px) {
  body .yarl__thumbnails {
    width: 25.5rem;
  }
} */
/* 
.yarl__carousel {
  @apply bg-transparent;
} */

/* body .yarl__container {
  @apply bg-transparent;
} */

/* ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f2e6e9;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #f2e6e9;
}

::-webkit-scrollbar-thumb {
  background-color: #800020;
} */

body .rdt_TableCol {
  @apply text-base text-gray-500 font-semibold;
}

/* body .product-details .swiper-button-prev:after,
body .product-details .swiper-button-next:after {
  @apply text-xl text-golden;
} */

.product-image {
  height: 400px;
  width: 400px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.item-img-slider .swiper-wrapper {
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}
