@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "emirates";
  src: url("../.././public/assets/fonts/Emirates-Medium.woff") format("woff");
}
@font-face {
  font-family: "playfairdisplay";
  src: url("../.././public/assets/fonts/PlayfairDisplay-Bold.ttf") format("ttf");
}

.rdt_TableHeadRow {
  @apply text-base font-semibold;
}

#notistack-snackbar {
  @apply py-[4px] pr-2 gap-2 text-black font-medium;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
span,
input,
textarea,
select,
option,
button,
ul,
li,
table,
th,
td,
div {
  @apply font-emirates;
}

.container {
  width: 1280px;
  margin: 0 auto;
  max-width: 96%;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.slider {
  position: relative;
  width: 200px;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #f0ae1130;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #f0ae11;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #dee2e6;
  font-size: 12px;
  margin-top: 20px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 200px;
  outline: none;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.product__description > p {
  @apply text-base leading-[22px] text-secondary-100;
}

.product__description {
  @apply pb-2.5 border-b border-b-blueGray-300;
}

.product__description > strong {
  @apply text-base leading-[22px] text-secondary-100;
}
